@import "./variables.scss";

::-webkit-scrollbar {
  width: 13px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  border-left: 2px solid $black;
  background-color: $white;
  border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $defaultFont;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
textarea {
  resize: none;
}

