$backgroundColor: #f5f5f5;
$blackDefault: #000000;
$primaryGreen: #66a571;
$secondaryGreen: #5f8d4e;
$terciaryGreen: #285430;
$quaternaryGreen: #359830;
$quinaryGreen:  #50883B;
$red: #d13939;
$mainFontColor: #121212;