$white: #ffffff;
$black: #000000;
$green: #66a571;
$red: #d13939;


$textXL: 36px;
$textL: 33px;
$textSL: 30px;
$textXG: 27px;
$textG: 24px;
$textSG: 21px;
$textXM: 18px;
$textM: 15px;
$textSM: 12px;

$defaultFont: "Poppins", sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
