.toast{
    padding: 15px;
    border-radius: 3px;
    width: 18em;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 2px 2px black;
    animation: slide 0.4s ease-in-out;
    gap: 5px;

    button{
        background-color: transparent;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

@keyframes slide {
    0%{
        transform: translateX(100%);
    }
    60%{
        transform: translateX(-15%);
    }
    80%{
        transform: translateX(5%);
    }
    80%{
        transform: translateX(0%);
    }
    
}

.success{
    background-color: greenyellow;
}

.error{
    background-color: red;
}