.cardBoxHome {
  background-color: #fee4cb;
  max-width: 60em;
  padding: 20px;
  border-radius: 5px;

  .cardInfo{
    background-color: #fee4cb;
    padding: 5px;
    border: 1px solid #000;
  }

  .profile {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    
    div {
        display: flex;
        flex-direction: column;
    }

    img {
      border-radius: 50%;
    }
  }
}
